/**
 * @author Gabriel Caron <1861095@csfoy.ca>
 * @version 2020.1
*
* GUIDE DE STYLES
*
*/

.gds {
  margin: 5em auto;
  max-width: 1300px;

  &__titre {
	font-family: $Montserrat-Bold;
	font-size: 60px;
	font-size: 6rem;
	color: black;
  }

  &__sousTitre {
	font-family: $Montserrat-Bold;
	color: white;
	background-color: darkgray;
	font-size: 30px;
	font-size: 3rem;
	padding: 1rem;
	text-align: left;
  }

  &__categorie {
	border-bottom: 1px solid lightgray;
  }
}